{% extends "base.html" %}
{% block title %}Flask application template{% endblock %}}

{% block page_content %}
<div class="page-header">
    <h1>Template test</h1>
</div>

This simple version just adds the two numbers in the routing function.
The celery version will do the addition in a separate worker
to demonstrate asynchronous processing.

<h4>Give me two numbers to add.</h4>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    
    <input type="hidden" name="x_complete" value="{{form.x.data}}" />
    <input type="hidden" name="y_complete" value="{{form.y.data}}" />

    <input type="number" name="x" value="{{form.x.data}}" />
    <input type="number" name="y" value="{{form.y.data}}" />

    <input type="submit" name="submit" />
</form>

<p>
<hr/>
<strong>Result = {{ result }}</strong>
</p>

{% endblock %}
