MY_EMAIL=mail for letsencrypt certificate
FLASK_HOST=webforms.DOMAIN
FLASK_PORT=5000

PORTAL_URL=
PORTAL_USER=
PORTAL_PASSWORD=

COVID_CASES_URL=https://delta.co.clatsop.or.us/server/rest/services/COVID19/covid19_cases/FeatureServer/0
PUBLIC_WEEKLY_URL=https://delta.co.clatsop.or.us/server/rest/services/covid19_public_weekly_data/FeatureServer/0
PPE_INVENTORY_URL=https://delta.co.clatsop.or.us/server/rest/services/COVID19/covid19_ppe_inventory/FeatureServer/0
