body {
    font-family: arial;
    color: #338;
}

h1 {
    background-color: violet;
    font-size: 32pt;
    font-style:normal;
    font-family:sans-serif;
}

.nav-section {
    display: flex;
    flex-direction: row;
}

a {
    padding: 3px;
}

.clock {
    font-family: cursive;
    font-size: 18pt;
    margin-top: 5px;
}

.map-section {
    display: flex;
    flex-direction: row;
    background-color: darkgreen;
    flex-grow: 1;
}
.simplemap {
    padding: 2px;
    flex-grow: 1;
    align-items: stretch;
}
.overview {
    width: 195px;
    height: 155px;
    color: lightgreen;
    background-size: cover;
}

.table-section {
    display: flex;
    flex-direction: row;
}
.flx {
    border: 2px solid green;
    background-color: white;
    flex-grow: 1;
}

.print-modal {
    display: flex;
    flex-direction: row;
    margin: 8px;
}
.print-title {
    flex-grow: 1;
}
.print-preview {
    flex-grow: 1;
}
.print-form {
}


#home {
    font-family: arial;
    color: rgb(71, 111, 8);
}

#about {
    font-family: arial;
    color: rgb(171, 11, 8);
}

